{{!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button> <a class="navbar-brand" href="https://www.boardgamegeek.com/">&nbsp BGB &nbsp </a>
		<!--BUTTONS-->
			<div class="btn-group" role="group" aria-label="Basic example">
				<a role="button" href="/" class="btn btn-outline-warning my-2 my-sm-0">&nbsp HOME &nbsp</a>
		<!--PLAYERS BUTTON-->
				<div class="btn-group" role="group">
					<a role="button" class="btn btn-outline-warning my-2 my-sm-0" href = "/players">
						&nbsp PLAYERS &nbsp
					</a>
				</div>
		<!--GAMES BUTTON-->
		<div class="btn-group" role="group">
			<button id="btnGroupDrop2" type="button" class="btn btn-warning" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				&nbsp GAMES &nbsp
			</button>
			<div class="dropdown-menu" aria-labelledby="btnGroupDrop2">
				<a class="dropdown-item" href="/games">Games</a>
				<a class="dropdown-item" href="/category">Categories</a>
			</div>
		</div>
		<!--CATEGORIES BUTTON-->
				<!-- <div class="btn-group" role="group">
					<a role="button" class="btn btn-warning" href = "/category">
						&nbsp CATEGORIES &nbsp
					</a>
				</div> -->
		<!--GROUPS BUTTON-->
				<div class="btn-group" role="group">
					<a role="button" class="btn btn-outline-warning my-2 my-sm-0" href = "/groups">
						&nbsp GROUPS &nbsp
					</a>
				</div>
			</div>
	<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
		<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
		</ul>
	</div>
</nav> --}}

<div class="container" id='categoriesContainer'>
	<h1>Game Categories</h1>

	<!--ADD Category-->
	<button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#addcategory" aria-expanded="false" aria-controls="addaccount">
		Add Category
	</button><br />
	<div class="collapse" id="addcategory">
		<form action="/category/add" method="post">
			<div class="form-row">
				<div class="form-group col-md-6">
					<input type="text" class="form-control" name="new_category_name" placeholder="Category Name">
				</div>
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>

<!--Category TABLE-->
	<div class="table-responsive">
		<table class='table'>
			<thead>
				<tr>
					<th>Category</th>
          <th>Number of Games</th>
				</tr>
			</thead>
			<tbody>
				{{#each category}}
				<tr>
					<td class="hidden">{{id}}</td>
					<td>{{category}}</td>
          <td> <!--num games--> </td>
					<td>
						<form action="category/search" method="get">
							<input type="hidden" name="seeGamesID" value="{{id}}">
							<button type="submit" class="btn btn-warning"> See Games</button>
						</form>
					</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
</div>
