<div class="container" id='categoriesContainer'>
	<h1>Game Categories</h1>

	<!--ADD Category-->
	<button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#addcategory" aria-expanded="false" aria-controls="addaccount">
		Add Category
	</button><br />
	<div class="collapse" id="addcategory">
		<form action="/category/add" method="post">
			<div class="form-row">
				<div class="form-group col-md-6">
					<input type="text" class="form-control" name="new_category_name" placeholder="Category Name">
				</div>
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>

<!--Category TABLE-->
	<div class="table-responsive">
		<table class='table'>
			<thead>
				<tr>
					<th>Category</th>
          <th>Number of Games</th>
				</tr>
			</thead>
			<tbody>
				{{#each category}}
				<tr>
					<td class="hidden">{{id}}</td>
					<td>{{category}}</td>
          <td> <!--num games--> </td>
					<td>
						<form action="category/search" method="get">
							<input type="hidden" name="seeGamesID" value="{{id}}">
							<button type="submit" class="btn btn-warning"> See Games</button>
						</form>
					</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
</div>
