<div class="container">
		<h1>Add Player to a Group</h1>
		<form>
			<div class="form-group">
				<!-- <label for="playerFName">First Name</label> -->
				<input type="text" class="form-control" id="" aria-describedby="" placeholder="Group Name">
			</div>
			<div class="form-group">
				<!-- <label for="playerLName">Last Name</label> -->
				<input type="text" class="form-control" id="" placeholder="Player">
			</div>
			<button type="submit" class="ylw-btn">Submit</button>
		</form>
	</div>
</div>

<div class="container">
	<h1>List of Groups</h1>
	<table class="table table-striped">
		<thead>
			<tr>
			<th scope="col">Group Number</th>
			<th scope="col">First Name</th>
			<th scope="col">Last Name</th>
			<th scope="col">Edit</th>
			<th scope="col">Delete</th>
			</tr>
		</thead>
		<tbody>
			<tr>
			<td>1</td>
			<td>Katie</td>
			<td>S</td>
			<td><button type="button" class="ylw-btn">edit</button></td>
			<td><button type="button" class="ylw-btn">delete</button></td>
			</tr>
			<tr>
			<td>1</td>
			<td>Zack</td>
			<td>J</td>
			<td><button type="button" class="ylw-btn">edit</button></td>
			<td><button type="button" class="ylw-btn">delete</button></td>
			</tr>
			<tr>
			<td>1</td>
			<td>April</td>
			<td>C</td>
			<td><button type="button" class="ylw-btn">edit</button></td>
			<td><button type="button" class="ylw-btn">delete</button></td>
			</tr>
		</tbody>
		</table>

	<button type="button" class="ylw-btn"> <a href="/group_create" >Create group</a></button>
	<button type="button" class="ylw-btn"><a href="/group_addPlayer" >Add player to group</a></button>
	<button type="button" class="ylw-btn"><a href="/group_lookup" >Look up group</a></button>
</div>
