<div class="container">
	<h1>List of All Groups</h1>
	<table class='table'>
		<thead>
			<th>Group Name</th>
			<th>Group Members</th>
		</thead>
		{{#each data}}
			<tbody>
				<td>{{this.group_name}}</td>
				<td>{{this.first_name}}, {{this.last_name}}</td>
			</tbody>
		{{/each}}               
	</table>

		<h1>Add A New Group</h1>
		<form>
			<div class="form-group">
				<!-- <label for="playerFName">First Name</label> -->
				<input type="text" class="form-control" id="" aria-describedby="" placeholder="Group Name">
			</div>
			<div class="form-group">
				<!-- <label for="playerLName">Last Name</label> -->
				<input type="text" class="form-control" id="" placeholder="Group Organizer">
			</div>
			<button type="submit" class="ylw-btn">Submit</button>
		</form>
	</div>


	<button type="button" class="ylw-btn"> <a href="/group_create" >Create group</a></button>
	<button type="button" class="ylw-btn"><a href="/group_addPlayer" >Add player to group</a></button>
	<button type="button" class="ylw-btn"><a href="/group_lookup" >Look up group</a></button>

</div>