<div class="container">

<h1>Welcome to Our Board Game Browswer!</h1>

<h3>Random Board Game Stats!</h3>
<table class="table table-striped">
    <thead>
        <tr>
        <th scope="col">Category</th>
        <th scope="col">Statistic</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <td>most wins</td>
        <td>Katie</td>
        </tr>
        <tr>
        <td>most played game</td>
        <td>Risk 2210 AD</td>
        </tr>
        <tr>
        <td>best group</td>
        <td>Group 27</td>
        </tr>
    </tbody>
    </table>

    {{!-- <button type="button" class="btn bth-success">add a new game</button>
    <button type="button" class="btn bth-success">update a game</button>
    <button type="button" class="btn bth-success">delete a game</button> --}}


</div>