<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button> <a class="navbar-brand" href="https://www.boardgamegeek.com/">&nbsp BGB &nbsp </a>
		<!--GROUP BUTTONS-->
			<div class="btn-group" role="group" aria-label="Basic example">
				<a role="button" href="/" class="btn btn-warning">&nbsp HOME &nbsp</a>
		<!--PLAYERS BUTTON-->
				<div class="btn-group" role="group">
					<a role="button" class="btn btn-outline-warning my-2 my-sm-0" href = "/players">
						&nbsp PLAYERS &nbsp
					</a>
				</div>
		<!--GAMES BUTTON-->
		<div class="btn-group" role="group">
			<button id="btnGroupDrop2" type="button" class="btn btn-outline-warning my-2 my-sm-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				&nbsp GAMES &nbsp
			</button>
			<div class="dropdown-menu" aria-labelledby="btnGroupDrop2">
				<a class="dropdown-item" href="/games">Games</a>
				<a class="dropdown-item" href="/category">Categories</a>
			</div>
		</div>
		<!--GROUPS BUTTON-->
				<div class="btn-group" role="group">
					<a role="button" class="btn btn-outline-warning my-2 my-sm-0" href = "/groups">
						&nbsp GROUPS &nbsp
					</a>
				</div>
			</div>
	<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
		<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
		</ul>
	</div>
</nav>

<div class="container">

<h1>Welcome to Our Board Game Browswer!</h1>

<h3>Random Board Game Stats!</h3>
<table class="table table-striped">
    <thead>
        <tr>
        <th scope="col">Category</th>
        <th scope="col">Statistic</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <td>most wins</td>
        <td>Katie</td>
        </tr>
        <tr>
        <td>most played game</td>
        <td>Risk 2210 AD</td>
        </tr>
        <tr>
        <td>best group</td>
        <td>Group 27</td>
        </tr>
    </tbody>
    </table>

    {{!-- <button type="button" class="btn bth-success">add a new game</button>
    <button type="button" class="btn bth-success">update a game</button>
    <button type="button" class="btn bth-success">delete a game</button> --}}


</div>
