<div class="container">
<h1>Add A New Player</h1>
    <form>
        <div class="form-group">
            <!-- <label for="playerFName">First Name</label> -->
            <input type="text" class="form-control" id="" aria-describedby="" placeholder="Enter First Name">
        </div>
        <div class="form-group">
            <!-- <label for="playerLName">Last Name</label> -->
            <input type="text" class="form-control" id="" placeholder="Last Name">
        </div>
        <div class="form-group">
            <!-- <label for="playerGroup">Player Group</label> -->
            <input type="number" class="form-control" id="" placeholder="Group Number">
        </div>
        <button type="submit" class="ylw-btn">Submit</button>
    </form>

	<h1>All Players</h1>
	<table class='table'>
		<thead>
			<th>First Name</th>
			<th>Last Name</th>
		</thead>
		{{#each data}}
			<tbody>
				<td>{{this.first_name}}</td>
				<td>{{this.last_name}}</td>
			</tbody>
		{{/each}}               
	</table>
    
    <button type="button" class="ylw-btn"><a href="/player_add">Add New Player</a></button>
	<button type="button" class="ylw-btn"><a href="/player_lookup">Look Up A Player</a></button>
	<button type="button" class="ylw-btn"><a href="/player_addGame">Add Game to Player Library</a></button>
</div>