<div class="container">
    <h1>Look up a player</h1>
    <form>
        <div class="form-group">
            <!-- <label for="playerFName">First Name</label> -->
            <input type="text" class="form-control" id="" aria-describedby="" placeholder="Enter Search Terms">
        </div>
        <button type="submit" class="ylw-btn">Submit</button>
    </form>


<h1>List of Players</h1>
    <table class="table table-striped">
        <thead>
            <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Group</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <td>Mark</td>
            <td>Otto</td>
            <td>1</td>
            <td><button type="button" class="ylw-btn">edit</button></td>
            <td><button type="button" class="ylw-btn">delete</button></td>
            </tr>
            <tr>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>2</td>
            <td><button type="button" class="ylw-btn">edit</button></td>
            <td><button type="button" class="ylw-btn">delete</button></td>
            </tr>
            <tr>
            <td>Larry</td>
            <td>the Bird</td>
            <td>2</td>
            <td><button type="button" class="ylw-btn">edit</button></td>
            <td><button type="button" class="ylw-btn">delete</button></td>
            </tr>
        </tbody>
        </table>

    <button type="button" class="ylw-btn"><a href="/player_add">Add New Player</a></button>
	<button type="button" class="ylw-btn"><a href="/player_lookup">Look Up A Player</a></button>
	<button type="button" class="ylw-btn"><a href="/player_addGame">Add Game to Player Library</a></button>
</div>