<div class="container">
	<h1>Add A New Player</h1>
    <form action="player_add" method="post">
      <div class="form-group">
        <!-- <label for="playerFName">First Name</label> -->
        <input type="text" class="form-control" id="" name="first_name" aria-describedby="" placeholder="First Name">
      </div>
      <div class="form-group">
        <!-- <label for="playerLName">Last Name</label> -->
        <input type="text" class="form-control" id="" name="last_name" placeholder="Last Name">
      </div>
        <input type="submit" value="Submit" class="ylw-btn"></input>
      </div>
    </form>


    {{!-- <button type="button" class="ylw-btn"><a href="/player_add">Add New Player</a></button>
    <button type="button" class="ylw-btn"><a href="/player_lookup">Look Up A Player</a></button>
    <button type="button" class="ylw-btn"><a href="/player_addGame">Add Game to Player Library</a></button> --}}
</div>

{{!-- <div class="form-group"> --}}
        {{!-- <div class="dropdown"> --}}
        {{!-- <button class="btn btn-primary dropdown-toggle" id="" type="button" data-toggle="dropdown">Group Name
        </button> --}}
          {{!-- <ul class="dropdown-menu">
            {{#each data}}
            <li name="group_name" value={{#this.group_name}}><a href="#">{{this.group_name}}</a></li>
            {{/each}}
          </ul> --}}
        {{!-- </div> --}}